a{

    color: #000;
    text-decoration: none;
}
body{
    background-color: white;
}

.list a{
    font-size: 20px;
    /* boold or 700 */
    font-weight: bold;
    color: blue;
}
.box{
    height: 1000px;
    /* 좌.상 > 우.상 > 우.하 >좌.하 */
    border-radius: 30px 10px 60px 0px;
}
.line-red{
    border: 5px solid red;
}
.line-blue{
    border: 5px solid blue;
}
.line-green{
    padding: 60px;
    margin: 50px auto;
    width: 400px;
    border: 5px solid green;
}